canvas {
    border:1px solid #999999;
}

#viewer-controls {
    font-family:"Arial";
    font-size:13px;
    width:800px;
}

.control-box {
    float:right;
    border:1px solid #999999;
    border-right:none;
    text-align:center;
    height:150px;
    padding:10px;
    line-height:50px;
}

.control-box#last {
    border-right:1px solid #999999;
}

.control-box p {
    margin:0px;
}

.control-name {
    width:50px;
    height:50px;
    text-align:center;
    display:inline-block;
    float:left;
}

button {
    height:50px;
}

button.direction {
    width:50px;
    float:left;
}

button.extra {
    width:150px;
}

button.middle-up-down {
    float:none;
}

p.button-spacer {
    margin:0px;
}
